<%- model_class = Post -%>
<table class="table table-striped">
	<thead>
		<tr>
			<th><%= model_class.human_attribute_name(:id) %></th>
			<th><%= model_class.human_attribute_name(:title) %></th>
			<th><%= model_class.human_attribute_name(:description) %></th>
			<th><%= model_class.human_attribute_name(:created_at) %></th>
			<th><%=t '.actions', :default => t("helpers.actions") %></th>
		</tr>
	</thead>
	<tbody>
		<% @posts.each do |post| %>
			<tr>
				<td><%= link_to post.id, post_path(post) %></td>
				<td><%= post.title %></td>
				<td><%= post.description %></td>
				<td><%=l post.created_at %></td>
				<td>
					<button type="button" class="btn btn-default btn-xs" id="editPostBtn" onClick="fetchPost('edit', '<%= post.id %>');"><%= t('.edit', :default => t("helpers.links.edit")) %></button>
					<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
											post_path(post),
											:method => :delete,
											:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
											:class => 'btn btn-xs btn-danger' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<button type="button" class="btn btn-info btn-lg" id="newPostBtn" onClick="openForm('new', 'nil');"><%= t('.new', :default => t("helpers.links.new")) %></button>